In [1]:
import pandas as pd

Census bureau definition of fips_class_codes:

    fips_class_codes
    
- H1:  identifies an active county or statistically equivalent entity that does not qualify under subclass C7 or H6.
- H4:  identifies a legally defined inactive or nonfunctioning county or statistically equivalent entity that does not qualify under subclass H6.
- H5:  identifies census areas in Alaska, a statistical county equivalent entity.
- H6:  identifies a county or statistically equivalent entity that is areally coextensive or governmentally consolidated with an incorporated place, part of an incorporated place, or a consolidated city. 
- C7:  identifies an incorporated place that is an independent city; that is, it also serves as a county equivalent because it is not part of any county, and a minor civil division (MCD) equivalent because it is not part of any MCD.

Wikipedia says:
    
    As of 2013, the United States has 3,007 counties and 137 county
    equivalents for a total of 3,144 counties and county equivalents.

## Flow

1. [Import US county level FIPS codes and names from the Census Dept](#Import-Census-data)
2. [Import Guardian newspaper 2012 county-level election results](#Import-Guardian-data)
3. [Parse and clean Guardian data, particularly their interpretation of FIPS codes and county definitions](#Clean-Guardian-data)
4. [Combine Census FIPS codes and county names with Guardian county-level election results](#Combine-datasets)
5. [Export resulting dataset](#Export-results)

## Import Census data

In [2]:
# county_fips data from https://www.census.gov/geo/reference/codes/cou.html
census = pd.read_csv('http://www2.census.gov/geo/docs/reference/codes/files/national_county.txt',sep=',',header=None, dtype=str)
census.columns = ['state_abbr', 'state_fips', 'county_fips', 'county_name', 'fips_class_code']
print(census.shape)
census.head()

(3235, 5)

  state_abbr state_fips county_fips     county_name fips_class_code
0         AL         01         001  Autauga County              H1
1         AL         01         003  Baldwin County              H1
2         AL         01         005  Barbour County              H1
3         AL         01         007     Bibb County              H1
4         AL         01         009   Blount County              H1

In [3]:
# look at some states data
census[census['state_abbr'] == 'DC']

    state_abbr state_fips county_fips           county_name fips_class_code
319         DC         11         001  District of Columbia              H6

In [4]:
# group by distinct fips class codes and return the count
fips_census_group = census.groupby(by='fips_class_code',axis=0)['state_abbr'].count()
fips_census_group

fips_class_code
C7      42
H1    3126
H4      30
H5      11
H6      26
Name: state_abbr, dtype: int64

In [5]:
# Look at independent cities
# should include Baltimore, Maryland; Carson City, Nevada; St. Louis, Missouri; and all 38 cities in Virginia
ind_census_cities = census[census['fips_class_code'] == 'C7']
print(ind_census_cities['state_abbr'].count())
ind_census_cities.head()

42

     state_abbr state_fips county_fips      county_name fips_class_code
1216         MD         24         510   Baltimore city              C7
1597         MO         29         510   St. Louis city              C7
1763         NV         32         510      Carson City              C7
2915         VA         51         510  Alexandria city              C7
2916         VA         51         515     Bedford city              C7

In [6]:
# look at Alaska county equivalents
alaska_census_counties = census[census['fips_class_code'] == 'H5']
print(alaska_census_counties['state_abbr'].count())
alaska_census_counties

11

,state_abbr,state_fips,county_fips,county_name,fips_class_code
68,AK,02,016,Aleutians West Census Area,H5
70,AK,02,050,Bethel Census Area,H5
73,AK,02,070,Dillingham Census Area,H5
76,AK,02,105,Hoonah-Angoon Census Area,H5
83,AK,02,180,Nome Census Area,H5
86,AK,02,195,Petersburg Census Area,H5
87,AK,02,198,Prince of Wales-Hyder Census Area,H5
90,AK,02,240,Southeast Fairbanks Census Area,H5
91,AK,02,261,Valdez-Cordova Census Area,H5
92,AK,02,270,Wade Hampton Census Area,H5
95,AK,02,290,Yukon-Koyukuk Census Area,H5

In [7]:
# get state and county fips
#census.columns[[0,1,2,3,4]]
fips_codes_census = census.drop(census.columns[[4]],axis=1)
print(fips_codes_census['county_fips'].count())
fips_codes_census.head()

3235

  state_abbr state_fips county_fips     county_name
0         AL         01         001  Autauga County
1         AL         01         003  Baldwin County
2         AL         01         005  Barbour County
3         AL         01         007     Bibb County
4         AL         01         009   Blount County

## Import Guardian data

In [8]:
# import Guardian data
# https://www.theguardian.com/news/datablog/2012/nov/07/us-2012-election-county-results-download#data
# NOTE: xlrd package needed (not installed by deafault) 
# to read data and format information from older Excel files (ie: .xls)
# get all data within the 'FULL DATA' worksheet and pass it into a DataFrame
guardian_full = pd.read_excel('http://image.guardian.co.uk/sys-files/Guardian/documents/2012/11/14/US_elect_county.xls',
                     sheetname = 'FULL DATA',
                     header = 0,
                     index_col=None,
                     convert_float = True,
                     converters={'FIPS Code':str},
                     parse_cols = "A, D, E, K, M, T, Y, AF, AK, AR, AW, BD, BI, BP")
                     
guardian_full.head()

WARNING *** file size (3825153) not 512 + multiple of sector size (512)

,State Postal,FIPS Code,County Name,TOTAL VOTES CAST,Party,Votes,Party.1,Votes.1,Party.2,Votes.2,Party.3,Votes.3,Party.4,Votes.4
0,AK,0,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN
1,AK,2000,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN
2,AL,0,Alabama,2064699,Dem,793620,GOP,1252453,Ind,2961.0,Ind,12283.0,Ind,3382.0
3,AL,1001,Autauga,23909,Dem,6354,GOP,17366,Ind,31.0,Ind,136.0,Ind,22.0
4,AL,1003,Baldwin,84988,Dem,18329,GOP,65772,Ind,122.0,Ind,597.0,Ind,168.0

## Clean Guardian data

In [9]:
# return results for only Democrats and Republicans
def dem_func(x):
    if x['Party'] == 'Dem':
        return x['Votes']
    elif x['Party.1'] == 'Dem':
        return x['Votes.1']
    elif x['Party.2'] == 'Dem':
        return x['Votes.2']
    elif x['Party.3'] == 'Dem':
        return x['Votes.3']
    elif x['Party.4'] == 'Dem':
        return x['Votes.4']

def gop_func(x):
    if x['Party'] == 'GOP':
        return x['Votes']
    elif x['Party.1'] == 'GOP':
        return x['Votes.1']
    elif x['Party.2'] == 'GOP':
        return x['Votes.2']
    elif x['Party.3'] == 'GOP':
        return x['Votes.3']
    elif x['Party.4'] == 'GOP':
        return x['Votes.4']
    
guardian = guardian_full
guardian['votes_Dem'] = guardian_full.apply(lambda x: dem_func(x), axis=1)
guardian['votes_GOP'] = guardian_full.apply(lambda x: gop_func(x), axis=1)
guardian.head()

,State Postal,FIPS Code,County Name,TOTAL VOTES CAST,Party,Votes,Party.1,Votes.1,Party.2,Votes.2,Party.3,Votes.3,Party.4,Votes.4,votes_Dem,votes_GOP
0,AK,0,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN,91696.0,121234.0
1,AK,2000,Alaska,220596,Dem,91696,GOP,121234,Lib,5539.0,Grn,2127.0,NaN,NaN,91696.0,121234.0
2,AL,0,Alabama,2064699,Dem,793620,GOP,1252453,Ind,2961.0,Ind,12283.0,Ind,3382.0,793620.0,1252453.0
3,AL,1001,Autauga,23909,Dem,6354,GOP,17366,Ind,31.0,Ind,136.0,Ind,22.0,6354.0,17366.0
4,AL,1003,Baldwin,84988,Dem,18329,GOP,65772,Ind,122.0,Ind,597.0,Ind,168.0,18329.0,65772.0

In [10]:
# drop irrelevant columns
guardian.drop(labels=['Votes','Votes.1','Votes.2','Votes.3','Votes.4','Party','Party.1','Party.2','Party.3','Party.4'],axis=1,inplace=True)
# format dataframe headers
guardian.columns = ['state_abbr','combined_fips', 'county_name','votes_total','votes_Dem','votes_Repub']
# view votes_total cast results by state, county_fips, county_name, and candidate
print('FIPS code data type is:',guardian['combined_fips'].dtype)
guardian.head()

FIPS code data type is: object

  state_abbr combined_fips county_name  votes_total  votes_Dem  votes_Repub
0         AK             0      Alaska       220596    91696.0     121234.0
1         AK          2000      Alaska       220596    91696.0     121234.0
2         AL             0     Alabama      2064699   793620.0    1252453.0
3         AL          1001     Autauga        23909     6354.0      17366.0
4         AL          1003     Baldwin        84988    18329.0      65772.0

Guardian data summarizes county-level data to the state level within the same table. We need to create a dataframe that segregate county- and state-level data

In [11]:
# guardian data combines state- and county-level fips codes into one code
# extract correct county fips codes
guardian['county_fips'] = guardian['combined_fips'].str.extract('(.{3})\s*$',expand=False)
# extract correct state fips codes
guardian['state_fips_a'] = guardian['combined_fips'].apply(lambda x: x[0:len(x) - 3])

state_fips = []
for i,r in guardian['combined_fips'].iteritems():
    if len(r) > 4:
        state_fips.append(r[0:2])
    else:
        state_fips.append('0' + r[0:1])

guardian['state_fips'] = pd.Series(state_fips)

# filter out state-level rows
guardian = guardian[guardian['state_fips'] != '00']

guardian.head()

,state_abbr,combined_fips,county_name,votes_total,votes_Dem,votes_Repub,county_fips,state_fips_a,state_fips
1,AK,2000,Alaska,220596,91696.0,121234.0,000,2,02
3,AL,1001,Autauga,23909,6354.0,17366.0,001,1,01
4,AL,1003,Baldwin,84988,18329.0,65772.0,003,1,01
5,AL,1005,Barbour,11459,5873.0,5539.0,005,1,01
6,AL,1007,Bibb,8391,2200.0,6131.0,007,1,01

## Combine datasets

In [12]:
# join census county names on count and state FIPS
combined = pd.merge(census, guardian, on=['state_fips','county_fips'])
print(combined.shape[0])
combined.head()

4587

,state_abbr_x,state_fips,county_fips,county_name_x,fips_class_code,state_abbr_y,combined_fips,county_name_y,votes_total,votes_Dem,votes_Repub,state_fips_a
0,AL,01,001,Autauga County,H1,AL,1001,Autauga,23909,6354.0,17366.0,1
1,AL,01,003,Baldwin County,H1,AL,1003,Baldwin,84988,18329.0,65772.0,1
2,AL,01,005,Barbour County,H1,AL,1005,Barbour,11459,5873.0,5539.0,1
3,AL,01,007,Bibb County,H1,AL,1007,Bibb,8391,2200.0,6131.0,1
4,AL,01,009,Blount County,H1,AL,1009,Blount,23980,2961.0,20741.0,1

In [13]:
# drop irrelevant columns
county_level_combined = combined.drop(combined.columns[[0,1,4,6,7]], axis=1)

# recombine fips data
county_level_combined['combined_fips'] = county_level_combined['state_fips_a'] + county_level_combined['county_fips']

# drop irrelevant columns
county_level_combined.drop(county_level_combined.columns[[0,6]], axis=1,inplace=True)

#reformat column labels
county_level_combined.columns = ['county_name','state_abbr','votes_total','votes_dem','votes_gop','combined_fips']

county_level_combined.head()

      county_name state_abbr  votes_total  votes_dem  votes_gop combined_fips
0  Autauga County         AL        23909     6354.0    17366.0          1001
1  Baldwin County         AL        84988    18329.0    65772.0          1003
2  Barbour County         AL        11459     5873.0     5539.0          1005
3     Bibb County         AL         8391     2200.0     6131.0          1007
4   Blount County         AL        23980     2961.0    20741.0          1009

In [14]:
# calculate percentage of total vote per major candidates
county_level_combined['per_dem'] = county_level_combined['votes_dem'] / county_level_combined['votes_total']
county_level_combined['per_gop'] = county_level_combined['votes_gop'] / county_level_combined['votes_total']
county_level_combined

,county_name,state_abbr,votes_total,votes_dem,votes_gop,combined_fips,per_dem,per_gop
0,Autauga County,AL,23909,6354.0,17366.0,1001,0.265758,0.726337
1,Baldwin County,AL,84988,18329.0,65772.0,1003,0.215666,0.773897
2,Barbour County,AL,11459,5873.0,5539.0,1005,0.512523,0.483376
3,Bibb County,AL,8391,2200.0,6131.0,1007,0.262186,0.730664
4,Blount County,AL,23980,2961.0,20741.0,1009,0.123478,0.864929
5,Bullock County,AL,5318,4058.0,1250.0,1011,0.763069,0.235051
6,Butler County,AL,9483,4367.0,5081.0,1013,0.460508,0.535801
7,Calhoun County,AL,46240,15500.0,30272.0,1015,0.335208,0.654671
8,Chambers County,AL,14562,6853.0,7596.0,1017,0.470608,0.521632
9,Cherokee County,AL,9761,2126.0,7494.0,1019,0.217806,0.767749
10,Chilton County,AL,17434,3391.0,13910.0,1021,0.194505,0.797866
11,Choctaw County,AL,7965,3785.0,4150.0,1023,0.475204,0.521030
12,Clarke County,AL,13827,6317.0,7463.0,1025,0.456860,0.539741
13,Clay County,AL,6640,1770.0,4802.0,1027,0.266566,0.723193
14,Cleburne County,AL,6302,971.0,5269.0,1029,0.154078,0.836084
15,Coffee County,AL,19715,4899.0,14638.0,1031,0.248491,0.742480
16,Colbert County,AL,23374,9160.0,13931.0,1033,0.391888,0.596004
17,Conecuh County,AL,7013,3551.0,3434.0,1035,0.506345,0.489662
18,Coosa County,AL,5243,2188.0,3028.0,1037,0.417318,0.577532
19,Covington County,AL,15415,3155.0,12148.0,1039,0.204671,0.788064
20,Crenshaw County,AL,6411,2048.0,4326.0,1041,0.319451,0.674778
21,Cullman County,AL,33178,4855.0,27930.0,1043,0.146332,0.841823
22,Dale County,AL,18551,5283.0,13105.0,1045,0.284782,0.706431
23,Dallas County,AL,20936,14599.0,6284.0,1047,0.697316,0.300153
24,DeKalb County,AL,23842,5235.0,18316.0,1049,0.219571,0.768224
25,Elmore County,AL,35440,8940.0,26223.0,1051,0.252257,0.739927
26,Escambia County,AL,14832,5476.0,9263.0,1053,0.369202,0.624528
27,Etowah County,AL,42490,12792.0,29102.0,1055,0.301059,0.684914
28,Fayette County,AL,7912,1803.0,6034.0,1057,0.227882,0.762639
29,Franklin County,AL,10859,3171.0,7567.0,1059,0.292016,0.696841
...,...,...,...,...,...,...,...,...
4557,Washburn County,WI,9242,4435.0,4692.0,55129,0.479874,0.507682
4558,Washington County,WI,78558,23136.0,54709.0,55131,0.294509,0.696415
4559,Waukesha County,WI,241084,77617.0,161567.0,55133,0.321950,0.670169
4560,Waupaca County,WI,25801,11565.0,13989.0,55135,0.448238,0.542188
4561,Waushara County,WI,12017,5330.0,6558.0,55137,0.443538,0.545727
4562,Winnebago County,WI,88814,45410.0,42073.0,55139,0.511293,0.473720
4563,Wood County,WI,38762,18546.0,19685.0,55141,0.478458,0.507843
4564,Albany County,WY,16052,7445.0,7851.0,56001,0.463805,0.489098
4565,Big Horn County,WY,5262,868.0,4269.0,56003,0.164956,0.811288
4566,Campbell County,WY,17477,2163.0,14952.0,56005,0.123763,0.855524
4567,Carbon County,WY,6461,2109.0,4152.0,56007,0.326420,0.642625
4568,Converse County,WY,6287,1089.0,5043.0,56009,0.173215,0.802131
4569,Crook County,WY,3657,426.0,3109.0,56011,0.116489,0.850150
4570,Fremont County,WY,16817,5333.0,11072.0,56013,0.317120,0.658381
4571,Goshen County,WY,5758,1458.0,4178.0,56015,0.253213,0.725599
4572,Hot Springs County,WY,2495,523.0,1894.0,56017,0.209619,0.759118
4573,Johnson County,WY,4217,749.0,3362.0,56019,0.177614,0.797249
4574,Laramie County,WY,38057,13807.0,23247.0,56021,0.362798,0.610847
4575,Lincoln County,WY,8573,1287.0,7144.0,56023,0.150122,0.833314
4576,Natrona County,WY,32057,8960.0,22129.0,56025,0.279502,0.690302
4577,Niobrara County,WY,1268,200.0,1022.0,56027,0.157729,0.805994
4578,Park County,WY,14492,2927.0,11234.0,56029,0.201974,0.775186
4579,Platte County,WY,4500,1223.0,3136.0,56031,0.271778,0.696889
4580,Sheridan County,WY,14225,3618.0,10267.0,56033,0.254341,0.721757
4581,Sublette County,WY,4337,767.0,3472.0,56035,0.176850,0.800553
4582,Sweetwater County,WY,16750,4773.0,11427.0,56037,0.284955,0.682209
4583,Teton County,WY,11356,6211.0,4858.0,56039,0.546936,0.427791
4584,Uinta County,WY,8453,1628.0,6613.0,56041,0.192594,0.782326
4585,Washakie County,WY,3911,794.0,3013.0,56043,0.203017,0.770391
4586,Weston County,WY,3323,422.0,2821.0,56045,0.126994,0.848932

## Export results

In [15]:
county_level_combined.to_csv('US presidential election results by county.csv',sep=',')

In [16]:
# view resulting data by state
county_level_combined[county_level_combined['state_abbr'] =='HI']
# census[census['state_abbr']=='CO']

,county_name,state_abbr,votes_total,votes_dem,votes_gop,combined_fips,per_dem,per_gop
678,Hawaii County,HI,62653,46670.0,14541.0,15001,0.744896,0.232088
679,Honolulu County,HI,292925,201803.0,87255.0,15003,0.688924,0.297875
680,Kauai County,HI,25369,18638.0,6121.0,15007,0.734676,0.241279
681,Maui County,HI,48547,35979.0,11577.0,15009,0.741117,0.238470